.container
  .login
    form.login-form(action="POST")
      input(
        type="text"
        name="entry-input"
        autofocus
        placeholder="email"
      )
      button.btn-login {{ msg }}
    